
<div class="container">
	<div class="lead well">
		<div class="media">
				<div class="media-left">
					<a href="#">
						<img class="media-object" src="https://s.gravatar.com/avatar/43659c454c961b4f92329a230dc97d58?s=80">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading"> <%= @question.email %> asked: </h4>

					<%= @question.body %>	
				</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-2 col-sm-offset-2">

		<div>
			<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#new-answer-modal"> Submit  Answer </a>
		</div>
		<br>
		<%= render 'home/new_answer_form' %>	



		<% @answers.each do |answer| %>
		<div class="container">			
				<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="<%= answer.gravatar %>">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading"> <%= answer.email %> answered: </h4>
							 <div><%= time_ago_in_words answer.created_at %> ago </div>
							<%= answer.body %>	
							<br></br>
						</div>
				</div>
			<% end %>


 

<!--
				<div class="media">
						<div class="media-left">
							<a href="#">
								<img class="media-object" src="https://s.gravatar.com/avatar/43659c454c961b4f92329a230dc97d58?s=80">
							</a>
						</div>
						<div class="media-body">
							<h4 class="media-heading"> <%= @question.email %> asked: </h4>

							<%= @question.body %>	
						</div>
				</div>
-->		</div>

	</div>
<% if @answers.empty? %>
 	<div class="alert alert-info">Let's show the world that we are little kids with full of ideas and solutions. We are definitely ready enough to answer away all difficult questions. </div>
 <% end %>
</div>
<h1></h1>